<html>
<head>
  <title>Potin n° <%=params['id']%></title>
</head>
<body>

  <%id_gossip = params['id']%>

  <h1>PAGE POTIN - n°<%=id_gossip%></h1>
  <p></p>
  <br>
  <p><strong>Le contenu du potin</strong> : "<%=@gossip.content%>"</p>
  <p><strong>Son auteur</strong> : <%=@gossip.author%></p>
  <p><strong>Sa date de création</strong> : <%=@gossip.created_at%></p>

  <br>
</body>
</html>